.sidebar{height: 190vh;
width: 20%;
background: #ffffff;
padding: 25px 38px;
position: relative;
border-right: .1px solid #918f8f52 ;

}

.sideline img{position: absolute;
    height: 40px;
    left: 0;
    top: 7%;
}



.logo{display: flex;
    align-items: center;
gap: 10px;}

.logo h1{font-size: 25px;
color: var(--secondary-gray-clr);}

.logo img{height: 30px;}



.menus{padding-top: 40px;}



.menu1{display: flex;
align-items: center;
gap: 25px;
padding-bottom: 25px;
position: relative;
z-index: 22;}

.blue .menu1:nth-child(1)  p{
    color: var(--main-blue-clr);
}

.menu1 p{
    color:var(--prim-gray-clr) ;
cursor: pointer;
}

.menu1 p:nth-child(1){
    font-size: 23px;
}
.menu1 p:nth-child(2){
    font-size: 18px;

}

.ppp p{
color: var(--main-blue-clr) ;
}
.menu1::after{
    content: '';
    position: absolute;
    height: 55px;
    width: 6px;
    background-color: #2D60FF;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    left:-23%;
    display: none;
}
.ppp::after{
    display: block;
}


.menu1:hover::before{
    content: '';
    height: 100%;
    width: 146%;
    background:#718ebf1a;
    position: absolute;
    top: -20%;
    left: -23%;


}

.crosslogo{display: none;}



     @media (max-width: 768px) {

        
         .sidebar{position: fixed;
        top: 0;
    width: 60%;
z-index: 999;
left: -60%;
transition: .4s ease;

}

.show{left: 0;
}

.crosslogo{display: block;
position: absolute;
top: 2.5%;
right:6% ;
cursor: pointer;}

.crosslogo p{font-size: 25px;
color: #2D60FF;
}

.crosslogo p:hover{transform: scale(1.1);
transition: .3s ease;}

.back{left: -60%;}

.menu1:hover::before{
    content: '';
    height: 100%;
    width: 137%;
    background:#718ebf1a;
    position: absolute;
    top: -25%;
    left: -23%;


}


}